// Navbar
.navbar
  height: 100vh
  .fixed-top
    padding: 0
  .a-logo
    display: flex
    flex-direction: column
    .navbar-brand
      padding: 0px 0px 40px 0px
      display: flex
      flex-direction: column
      align-items: center
      color: #fff
      text-decoration: none
      .imglogo
        width: 70px
        height: 70px
  .navbar-collapse 
    background: $backgroundPrincipal
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    .mr-auto
      display: flex
      flex-direction: column
      gap: 3rem
      .nav-link
        display: flex
        flex-direction: column
        align-items: center
        color: #ffffff
        text-decoration: none
        .imgIcon
          margin-bottom: 1rem
          width: 50px
          height: 50px
  .navbar-toggler
    position: absolute
    left: 0
    /* Alineado a la izquierda
    top: 50%
    /* Alineado en la parte superior
    width: 60px
    /* Puedes ajustar el ancho según tus necesidades
    z-index: 1020
    /* Asegúrate de que esté sobre otros elementos





