.navbar {
  position: absolute;
  top: 45vh;
}
.navbar .a-logo {
  display: flex;
  flex-direction: column;
}
.navbar .a-logo .navbar-brand {
  padding: 60px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.navbar .a-logo .navbar-brand .imglogo {
  width: 70px;
  height: 70px;
}
.navbar .navbar-collapse {
  background: linear-gradient(360deg, rgb(76, 161, 208) 0%, rgb(11, 240, 144) 100%);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -45vh;
}
.navbar .navbar-collapse .mr-auto {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.navbar .navbar-collapse .mr-auto .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.navbar .navbar-collapse .mr-auto .nav-link .imgIcon {
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
}
.navbar .navbar-toggler {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 60px;
  z-index: 998;
  box-shadow: 0px 0px 8px 0px rgba(109, 109, 109, 0.31);
  border: none;
  width: 60px;
  height: 60px;
}

.fixed-top {
  padding: 0px;
}

.navbarMap {
  background: #F8F8F8;
  box-shadow: 0px 0px 8px 0px rgba(109, 109, 109, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  gap: 2rem;
}
.navbarMap .search-section h3 {
  font-size: 1rem;
  font-weight: bold;
}
.navbarMap .search-section .div-search {
  display: flex;
}
.navbarMap .search-section .div-search input {
  width: 130px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}
.navbarMap .search-section .div-search button {
  background: linear-gradient(360deg, rgb(76, 161, 208) 0%, rgb(11, 240, 144) 100%);
  border: none;
  border-radius: 5px;
}
.navbarMap .user-section {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarMap .user-section .div-userName {
  display: flex;
  align-items: center;
}
.navbarMap .user-section .div-userName .div-imgUser {
  border: 2px solid #0c83c7;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}
.navbarMap .user-section .div-userName .div-imgUser img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.navbarMap .user-section .div-coinsUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbarMap .user-section .div-coinsUser .div-icon {
  background: linear-gradient(360deg, rgb(76, 161, 208) 0%, rgb(11, 240, 144) 100%);
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarMap .user-section .div-coinsUser .div-icon img {
  width: 60%;
}

.alert-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 0px 8px 0px rgba(109, 109, 109, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: absolute;
  z-index: 1000;
  top: 55vh;
  left: 12px;
  width: 60px;
  height: 60px;
}
.alert-button img {
  width: 30px;
  height: 30px;
}
.alert-button .imgIcon2 {
  width: 25px;
  height: 25px;
}
.alert-button:hover {
  background: linear-gradient(360deg, rgb(76, 161, 208) 0%, rgb(11, 240, 144) 100%);
}
.alert-button:hover img {
  filter: invert(100%);
}

.div-containerCards {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  margin-top: 4px;
  background: rgba(255, 255, 255, 0.7098039216);
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-height: 89vh;
  overflow-y: auto;
  padding: 10rem 0rem 2rem 2rem;
}
.div-containerCards .incident-card {
  width: 250px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(109, 109, 109, 0.31);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.div-containerCards .incident-card .incident-body {
  font-weight: 200;
}
.div-containerCards .incident-card .incident-footer {
  display: flex;
  justify-content: center;
}
.div-containerCards .incident-card:hover {
  border: 2px solid;
  background: linear-gradient(360deg, rgb(76, 161, 208) 0%, rgb(11, 240, 144) 100%);
  color: #fff;
}
.div-containerCards .incident-card:hover .imgIcon2 {
  filter: invert(100%);
}/*# sourceMappingURL=base.css.map */